In [23]:
import pandas as pd
#use this 
a = {'Student':['David', 'Samuel', 'Terry', 'Evan'],  'Age':['27', '24', '22', '32'],
     'Country':['UK', 'Canada', 'China', 'USA'],
     'Course':['Python','Data Structures','Machine Learning','Web Development'],
     'Marks':['85','72','89','76']}
#Make it a data frame
dataframe = pd.DataFrame(a)
#Retrieve the Marks column and assign it to a variable b
a
b = dataframe[['Marks']]
b
# Retrieve the Country and Course columns and assign it to a variable c
c = dataframe[['Country' , 'Course']]
c
dataframe.loc[2,'Country']

'China'

In [32]:

x = {'Name': ['Rose','John', 'Jane', 'Mary'], 'ID': [1, 2, 3, 4], 'Department': ['Architect Group', 'Software Group', 'Design Team', 'Infrastructure'], 
      'Salary':[100000, 80000, 50000, 60000]}

#casting the dictionary to a DataFrame
df = pd.DataFrame(x)

#display the result df
mrdataframe = df


mrdataframe = mrdataframe.set_index("Name")
mrdataframe.head()

   Name  ID       Department  Salary
0  Rose   1  Architect Group  100000
1  John   2   Software Group   80000
2  Jane   3      Design Team   50000
3  Mary   4   Infrastructure   60000

In [33]:

x = {'Name': ['Rose','John', 'Jane', 'Mary'], 'ID': [1, 2, 3, 4], 'Department': ['Architect Group', 'Software Group', 'Design Team', 'Infrastructure'], 
      'Salary':[100000, 80000, 50000, 60000]}

#casting the dictionary to a DataFrame
df = pd.DataFrame(x)

#display the result df
mrdataframe = df


mrdataframe = mrdataframe.set_index("Name")
mrdataframe.head()

      ID       Department  Salary
Name
Rose   1  Architect Group  100000
John   2   Software Group   80000
Jane   3      Design Team   50000
Mary   4   Infrastructure   60000