What is the data type of the result of: 6 / 2?
Flo

What is the data type of the result of: 6 // 2?
and int

What is the type of the result of: "Hello, World!"
str

What is the type of the result of: "hello" == "world"
bool

In [2]:
type("j"=="k")

bool

In [4]:
##Write the code to convert the following number representing employeeid "1001" to an integer
x="1001"
int(x)
print(x)

1001

In [ ]:
#write the code to convert this number representing financial value "1234.56" to a floating point number
float("1234.56")

In [5]:
#Write the code to convert this phone number Write the code to convert this phone number 123-456-7890 to a string to a string
str("123-456-7890")

'-8223'